<!DOCTYPE html>
<html lang="en">
<head>
    <title>Monkey House</title>
    <link rel="stylesheet"
          href="C:\Users\Nisse\Desktop\Java Programs\Obligatorisk-Opgave-2.-semester-master\src\main\resources\static\style.css"
          th:href="@{style.css}" />
</head>
<body>

<h1>Welcome to the Monkey House</h1>



<form action="login.html">
    <input type="submit" value="Already Monkey" id="am" />

</form>

<form action="create.html">
    <input type="submit" value="Create Monkey" id="cm" />

</form>


<style>

</style>

</body>

</html>